
.DS_Store
build
.git
*.egg-info
dist
output/
output_yolov3/
output_mask/
mask_weights/
data/*
backup
weights/*.weights
weights/*.conv.*
__pycache__
checkpoints/
names.ipynb

.vscode/
logs/

.python-version
